* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  text-align: center;
  font: 62.5% sans-serif;
}
.app {
  background-image: url('https://images.unsplash.com/photo-1520405231068-ff009f727fe6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f3526dca0217d6412b0f00c9efe29b8&auto=format&fit=crop&w=1268&q=80');
  background-size: cover;
  height: 100vh;
  color: #f1f1f1;
}
.app h1 {
  font-size: 4em;
  padding: 20px;
  margin-bottom: 50px;
}
.app h3 {
  display: inline;
  font-size: 2em;
  padding: 10px;
}
.app input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #f1f1f1;
  font-size: 2em;
  text-align: center;
  width: 100px;
  color: inherit;
}
.app button {
  outline: none;
  font-size: 1.5em;
  width: 60px;
  height: 30px;
  margin-left: 20px;
  color: inherit;
  border: 2px solid #fff;
  border-radius: 5px;
  background: none;
  opacity: 0.6;
}
.app button:hover {
  opacity: 1;
}
