.weather-card {
  flex: 0 1 20%;
  max-width: 150px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0);
  padding: 15px;
  font-size: 1.5em;
  color: #000;
}
.weather-card p {
  color: #878787;
}
.weather-card-icon {
  margin: 15px;
  font-size: 3em;
  color: #878787;
}
.weather-card div {
  color: #878787;
  display: inline-block;
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather-card span {
  font-size: 0.9em;
  margin: 0 5px;
}
.weather-card span:nth-of-type(2) {
  color: #878787;
}
.weather-card:hover {
  background: #f9f9f9;
  border: 1px solid rgba(0,0,0,0.1);
}
.wi-day-sunny {
  color: #f4df00;
}
